@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');
:root{
    --primary-color: #133BDB;
    --secondary-color: #F4C430;
    --white: #FFFFFF;
    --dark: #000102;
    --Dark-Grey: #575757;
    --light-Grey: #797979;

}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family:"Host Grotesk", sans-serif ;
    padding: 0px 1%;
}
.common-btn{
    padding: 15px 40px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    font-size: 17px;
    border: none;
}
nav{
    background-color: var(--white);
    
}
.parent-nav{
    
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.parent-nav div ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}
nav div ul a{
    color: var(--light-Grey);
    text-decoration: none;
}


/* banner section */
header{
    
    
}

.header-part{
    min-height: 100vh;
    background-image: url("./asset/Background.png");
  
    /* background-position: center; */
    background-size: 100% 100%;
    background-repeat: no-repeat;

     background-position: top center;
    
}
.hero-contents{
    position: absolute;
    text-align: left;
    bottom: 20px;
    left: 50px;
    color: #fff;

}

.hero-contents h1{
    font-family: "Host Grotesk", sans-serif;
    font-size: 80px;
    font-weight: 900;
    line-height: 90px;

}
    
.hero-contents p{
    font-family: "Host Grotesk", sans-serif;
    font-size: 16px;
    padding: 30px 0px;
}

/* end banner section  */

.data-display{
    margin-top: 20px;
    padding: 40px;
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  
    
}

.data-display h2{
    align-items: center;
    font-size: 72px;
    font-weight: 900;

}
.host-section{
    margin-top: 35px;
}
.Stadium-parent{
    display: grid;
    margin: 20px 8%;
    grid-template-columns: repeat(1, 1fr);
    
}
.Stadium-heading{
    font-size: 56px;
    font-weight: 500;
    text-align: center;
}
.content-parent{
    display: flex;
    gap: 20px;
    padding: 20px;
}
.content-parent ul{
    color: var(--Dark-Grey);
    margin-left: 15px;
}
.content-parent h2{
    font-size: 40px;
}

.content-parent p{
    margin: 10px auto;
    color: var(--Dark-Grey);
}
.host-button-div{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;

}
.host-button{
   /* border-radius: 20px; */
   align-items: center;
}