*{
    margin: 0;
    padding: 0;
}
.common-btn{
    padding: 15px 40px;
}
nav{
    background-color: brown;
    
}
.parent-nav{
    margin: 0px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.parent-nav div ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}
nav div ul a{
    color: #fff;
    text-decoration: none;
}